//site color variables
$body-color: #ffffff;
$primary-color: #D62828;
$secondary-color: #003049;
$text-color: #000000;
$text-color-dark: #000000;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #fff;
$dark-gray: #0000;



// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
